@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
/* Global Site Elements */
:root {
	--color-Inverse: #4f4f4f;
	--boxColor: cadetblue;
	--boxShadow: 0 0 20px rgb(0, 0, 0, 0.25);
	--radius: 10px;
	--neuSize: 50%;
	--neuDepth: 0 0 0 rgb(0, 0, 0, 0.25), 0 0 0 rgb(255, 255, 255, 0.25),
		1 1 0 rgb(0, 0, 0, 0), 1 1 0 rgb(255, 255, 255, 0.01);
	--neuRadius: 25px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100vh;
	font-family: "Nunito", sans-serif;
	font-size: 18px;
	color: var(--color-Inverse);
	overflow: hidden;
}

body {
    margin: 0 auto;
	height: 100%;
    max-width: 800px;
	display: grid;
	grid-template-rows: auto 10fr auto;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 1em;
}

main {
    max-height: 1080px;
	padding: 0em 1em;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

footer {
	display: flex;
	justify-content: center;
	padding: 0.5em 1em;
}

a {
	text-decoration: none;
}

svg {
	fill: var(--color-Inverse);
}

#codeIcon {
	font-size: 1.5rem;
}

#drucial {
	width: 50%;
}

.model {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--boxColor);
    border-radius: 1em;
  }
  
  .neuModel {
    width: var(--neuSize);
    height: var(--neuSize);
    min-width: 10px;
    min-height: 10px;
    max-width: 90%;
    max-height: 90%;
    border-radius: var(--neuRadius);
    box-shadow: var(--neuDepth);
    -webkit-box-shadow: var(--neuDepth);
    z-index: 3;
  }

.sliderPanel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.form-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 0;

}

input {
	width: 60%;
}

.hexInput {
	padding: 0.2rem;
	font-size: 0.8rem;
	text-align: center;
	text-transform: uppercase;
	color: #4f4f4f;
	border: none;
	border-radius: 5px;
	background: var(--color-Inverse);
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	height: 0.25rem;
	background: var(--color-Inverse);
	outline: none;
	/* opacity: 0.7; */
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 2rem;
	height: 2rem;
	background: var(--color-Inverse);
	border-radius: 1rem;
	cursor: pointer;
	/* box-shadow: inset 2px 2px 5px rgb(255,255,255,.2),
                inset -2px -2px 5px rgb(0,0,0,.2),
                1px 2px 4px rgb(0,0,0,.3);
    -webkit-box-shadow: inset 2px 2px 5px rgb(255,255,255,.2),
                inset -2px -2px 5px rgb(0,0,0,.2),
                1px 2px 4px rgb(0,0,0,.3); */
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: var(--boxColor);
	cursor: pointer;
}
